/*Palette
	#7ea0bd > Blue Grey, Main
	#a9cce9 > Blue Grey, Alt
	#f00206 > Red Accent
*/

/* General Start */
* {
	font-family: Calibri;
}

body {
	background-color: rgb(242, 242, 242);
}

.universal_LoadingText:after {
  content: ' 📥';
  animation: dots 2s steps(5, end) infinite;
}

@keyframes dots {
	0%, 20% {
		color: rgba(0,0,0,0);
		text-shadow:
		.25em 0 0 rgba(0,0,0,0),
		.5em 0 0 rgba(0,0,0,0);
	}
	40% {
		color: #7ea0bd;
		text-shadow:
		.25em 0 0 rgba(0,0,0,0),
		.5em 0 0 rgba(0,0,0,0);
	}
	60% {
		text-shadow:
		.25em 0 0 #7ea0bd,
		.5em 0 0 rgba(0,0,0,0);
	}
	80%, 100% {
		text-shadow:
		.25em 0 0 #7ea0bd,
		.5em 0 0 #7ea0bd;
	}
}
/* General End */

/* Homepage Start */
.homepageList {
	list-style-type: none;
    margin-top: 3px;
    margin-bottom: 0;
    margin-left: 5px;
    margin-right: 5px;
    padding: 0;
    overflow: hidden;
}

.homepageListItem {
	background-color: rgb(210, 210, 210);
	border: 1px solid black;
	margin-bottom: 5px;
	border-radius: 4px;
}

.homepageListItem_LinkFormat {
	display: block;
	color: black;
    text-decoration: none;
}

.homepageListItem_LinkFormat:hover {
	color:#f00206;
}

.homepageListItem_Text {
	margin: 3px;
}

#homepageListItem_Text_Header {
	margin-right: 3px;
}

#homepageListItem_Text_Desc {
	font-weight:normal;
	margin-left: 3px;
}
/* Homepage End */

/* Flex Boxes Start */
.flexBoxContainer {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}

.flexBox {
	border: 1px solid black;
    background-color: #CCCCCC;
	margin: 10px;
	border-radius: 4px;
}

.flexBox_Top_Label {
	margin-top: 0px;
	padding-top: 6px;
	padding-bottom: 12px;
	border-bottom: 1px solid black;
	background-color: #7ea0bd;
}

.flexBox_Header {
	margin-left: 3px;
	margin-right: 3px;
	padding: 0px;
	padding-left: 5px;
	padding-bottom: 3px;
	margin: 0px;
	margin-bottom: 5px;
	/*border: 1px solid #545454;*/
	border: 0;
	border-radius: 4px;
	color: black;
}

.flexBox_Header_Bold {
	font-weight: bold;
	background-color: #7ea0bd;
	padding-right: 5px;
}
/* Flex Boxes End */

/* Forum Elements Start */
.forum_DropDown {
	margin-left: 3px;
	margin-right: 3px;
	border-radius: 4px;
	background-color: rgb(242, 242, 242);
	height: 40px;
	margin-bottom: 7px;
}


.forum_Button {
	font-size: 20px;
	background-color: #7ea0bd;
    border: none;
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 22px;
	padding-right: 22px;
	border: 0;
	outline: none;
	border-radius: 4px;
	margin: 3px;
}

.forum_Button:hover {
	background-color: #f00206;
	cursor: pointer;
}

.forum_textInput {
	margin: 3px;
	height: 40px;
}
/* Forum Elements End */