/* Tool CSS */

/*Palette
	#545454	>Gray
	#29c583	>Green
	#ff4256	>Red
	#ea8c1c >Orange
*/

/* Forum Start */
.forumItem_wider {
	width: 97%;
}

#mainPickerBox {
	width: 50%;
	min-width: 350px;
}
/* Forum End */